* {
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "DM Sans", sans-serif;
	font-size: 18px;
}

a {
	color: inherit;
}

p, li {
	line-height: 2;
}

.container {
	width: calc(100vw - 40px);
	max-width: 854px;
	margin: 0 auto;
}

.section {
	padding-top: 50px;
	padding-bottom: 50px;
}

.section h1 {
	font-size: 36px;
	text-align: center;
	margin-bottom: 30px;
	font-weight: 500;
}

.section p {
	margin-bottom: 20px;
}

.button {
	padding: 10px 15px;
	border: 2px solid #000000;
	text-decoration: none;
	text-align: center;
}

.grid {
	display: grid;
	gap: 20px;
}

.grid.column-2 {
	grid-template-columns: 1fr;
}

.skill-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skill-card .icon {
	font-size: 40px;
	margin-bottom: 12px;
}

.skill-card h3 {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 12px;
}

.skill-card .border {
	width: 60px;
	display: block;
	border-bottom: 2px solid #000000;
	margin-bottom: 30px;
}

.skill-card p {
	text-align: center;
	margin-bottom: 20px;
}

.ligth-gray {
	color: #B3B3B3;
}

/* Hero */

section#hero {
	width: 100%;
	height: 100vh;
	min-height: 620px;
	max-height: 1024px;
	position: relative;
}

/* Header */

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 60px;
}

header.container,
#hero > .container,
footer > .container {
	max-width: 1500px;
}

header figure {
	margin: 0;
	height: 90px;
	width: auto;
}

header figure img {
	height: 100%;
}

header nav {
	width: 270px;
	margin-top: 30px;
}

header nav ul {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
}

header nav ul li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header nav ul li a {
	text-decoration: none;
	color: #b3b3b3;
}

header nav ul li i {
	width: 5px;
	height: 5px;
	color: transparent;
}

header nav ul li.active a {
	color: #000000;
}

header nav ul li.active i {
	color: #fdde4b;
}

/* Intro */
.intro {
	margin-top: 50px;
}

.intro h3 {
	color: #b3b3b3;
	font-size: 18px;
	margin: 0;
}

.intro h1 {
	margin: 10px 0;
	font-weight: 500;
	font-size: 42px;
	line-height: 1;
}

.intro h4 {
	margin: 0;
	font-size: 18px;
	color: #212121;
}

.mail {
	margin-top: 80px;
}

.mail p {
	margin: 0;
	font-size: 18px;
	display: inline;
	border-bottom: 2px solid #000000;
	padding-bottom: 2px;
}

.mail p a {
	text-decoration: none;
}

.scroll-icon {
	width: 30px;
	height: 50px;
	border: 2px solid #000000;
	border-radius: 50px;
	position: absolute;
	bottom: 3vh;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding-left: 10px;
	padding-right: 10px;
	animation-name: scroll;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.scroll-icon span {
	display: block;
	height: 6px;
	width: 6px;
	border-radius: 6px;
	background-color: #000000;
	animation-name: scroll-child;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#about .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#about .button {
	margin-top: 30px;
}

#personal-work {
	background-color: #000000;
	color: #ffffff;
}

#more-about-me ul {
	padding-left: 25px;
	margin-bottom: 70px;
}

#more-about-me ul li {
	margin-bottom: 1em;
}

#more-about-me .buttons {
	max-width: 320px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 20px;
}

#final {
	text-align: center;
}

footer {
	padding-top: 30px;
	padding-bottom: 30px;
}

footer figure {
	display: none;
}

footer ul {
	margin: 0 auto;
	padding: 0;
	margin-bottom: 40px;
	margin-left: auto;
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 170px;
	list-style: none;
}

footer .copy {
	text-align: center;
}

footer ul li {
	font-size: 30px;
}

@keyframes scroll {
	0% {
		padding-top: 32px;
	}
	100% {
		padding-top: 15px;
	}
}
@keyframes scroll-child {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Tablet */
@media screen and (min-width: 760px) {
	header.container,
	#hero > .container,
	footer > .container {
		padding-left: 40px;
		padding-right: 40px;
	}

	.grid.column-2 {
		grid-template-columns: 1fr 1fr;
	}

	.section {
		padding-top: 80px;
		padding-top: 80px;
	}

	section#hero {
		min-height: 800px;
	}

	header {
		padding-top: 70px;
	}

	header nav {
		width: 510px;
		margin-top: 50px;
		font-size: 18px;
	}

	.intro {
		margin-top: 150px;
	}

	.intro h3,
	.intro h4 {
		font-size: 24px;
	}

	.intro h1 {
		font-size: 48px;
		margin-bottom: 20px;
	}

	.mail {
		margin-top: 100px;
	}

	.mail p {
		font-size: 24px;
		padding-bottom: 5px;
	}

	#about p {
		text-align: center;
	}

	footer .container {
		display: grid;
		grid-template-columns: 150px 1fr 150px;
		align-items: center;
	}
	
	footer figure {
		display: block;
		width: 70px;
	}

	footer figure img {
		width: 100%;
		height: auto;
	}

	footer ul {
		grid-column: 3 / 4;
		margin-bottom: 0;
	}

	footer .copy {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		margin-bottom: 0;
	}
}

/* Desktop */
@media screen and (min-width: 960px) {
	body {
		font-size: 24px;
	}

	header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-top: 35px;
	}

	header nav {
		margin-top: 0;
	}

	.intro h1 {
		font-size: 60px;
		margin-top: 0;
	}

	.section {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.section h1 {
		font-size: 48px;
	}

	#more-about-me .buttons {
		max-width: 420px;
	}

	footer .copy {
		font-size: 18px;
	}

	footer .container {
		grid-template-columns: 170px 1fr 170px;
	}
}
