* {
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "DM Sans", sans-serif;
	font-size: 18px;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	width: calc(100vw - 40px);
	max-width: 1500px;
	margin: 0 auto;
}

.section h1 {
	font-size: 36px;
	text-align: center;
	margin-bottom: 30px;
}

.section p {
	line-height: 2;
	margin-bottom: 20px;
}

.button {
	padding: 10px 15px;
	border: 2px solid #000000;
}

/* Hero */

section#hero {
	width: 100%;
	height: 100vh;
	min-height: 667px;
	max-height: 1024px;
	position: relative;
}

/* Header */

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 60px;
}

header figure {
	margin: 0;
	height: 90px;
	width: auto;
}

header figure img {
	height: 100%;
}

header nav {
	width: 270px;
	margin-top: 30px;
}

header nav ul {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
}

header nav ul li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header nav ul li a {
	text-decoration: none;
	color: #b3b3b3;
}

header nav ul li i {
	width: 5px;
	height: 5px;
	color: transparent;
}

header nav ul li.active a {
	color: #000000;
}

header nav ul li.active i {
	color: #fdde4b;
}

/* Intro */
.intro {
	margin-top: 50px;
}

.intro h3 {
	color: #b3b3b3;
	font-size: 18px;
	margin: 0;
}

.intro h1 {
	margin: 10px 0;
	font-weight: 500;
	font-size: 42px;
	line-height: 1;
}

.intro h4 {
	margin: 0;
	font-size: 18px;
	color: #212121;
}

.mail {
	margin-top: 80px;
}

.mail p {
	margin: 0;
	font-size: 18px;
	display: inline;
	border-bottom: 2px solid #000000;
	padding-bottom: 2px;
}

.mail p a {
	text-decoration: none;
}

.scroll-icon {
	width: 30px;
	height: 50px;
	border: 2px solid #000000;
	border-radius: 50px;
	position: absolute;
	bottom: 3vh;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding-left: 10px;
	padding-right: 10px;
	animation-name: scroll;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.scroll-icon span {
	display: block;
	height: 6px;
	width: 6px;
	border-radius: 6px;
	background-color: #000000;
	animation-name: scroll-child;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#about .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#about .button {
	margin-top: 30px;
}

@keyframes scroll {
	0% {
		padding-top: 32px;
	}
	100% {
		padding-top: 15px;
	}
}
@keyframes scroll-child {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Tablet */
@media screen and (min-width: 768px) {
	.container {
		padding-left: 40px;
		padding-right: 40px;
	}

	section#hero {
		min-height: 800px;
	}

	header {
		padding-top: 70px;
	}

	header nav {
		width: 510px;
		margin-top: 50px;
		font-size: 18px;
	}

	.intro {
		margin-top: 150px;
	}

	.intro h3,
	.intro h4 {
		font-size: 24px;
	}

	.intro h1 {
		font-size: 48px;
		margin-bottom: 20px;
	}

	.mail {
		margin-top: 170px;
	}

	.mail p {
		font-size: 24px;
		padding-bottom: 5px;
	}
}

/* Desktop */
@media screen and (min-width: 960px) {
	.container {
		padding-left: 120px;
		padding-right: 120px;
	}

	header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	header nav {
		margin-top: 0;
	}

	.intro h1 {
		font-size: 60px;
		margin-top: 0;
	}
}
